/* DESKTOP SPECIFIC STYLES */
@media only screen and (min-width: 1201px) {

    /* -------------------- DESKTOP SPECIFIC NAV STYLING --------------------*/
    .mobile {
        display: none;
    }

    nav {
        height: 2.125rem;
    }

    nav ul li {
        flex: 1 1 6.25rem;
    }
}